<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="G:\Study Materials\Coding\C#\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="TournamentsData" connectionString="Server=LAPTOP-SPTSI0RV;Database=TournamentsData;Trusted_Connection=True;" providerName="System.Data.SQLClient"/>
	</connectionStrings>
</configuration>